.autocard-image {
	height: auto; 
    width: auto; 
    max-width: 420px; 
    max-height: 350px;
    margin: 10px;
}

.autocard-image-right {
    float: right;
}

.autocard-image-left {
    float: letft;
}

.autocard-image-content {
	height: auto; 
    width: auto; 
    min-width: 375px; 
    min-height: 420px;
    background: red;
    border: none;
}