body {
    padding-bottom: 40px;
}

#deckbuilder td
{
	width: 230px;
}

#deckbuilder tbody td
{
	padding: 6px 6px 280px 6px;
	vertical-align: top;
}

#deckbuilder img
{
	margin-bottom: -250px;
}

.card
{
	height: 300px;
	/*padding:6px;*/
	min-width:50px;
	vertical-align:middle
}

.selectedCard
{
	border: 2px red solid;
	margin: -2px;
	box-shadow: 0px 0px 8px #f00;
	border-radius: 12px;
}

.linkBox {
	font-family:monospace;
	width: 400px;
}

.tutorials img {
	display: block;
}