body {
    padding-bottom: 40px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 0;
}

a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

a:active {
	color: blue;
}

a:visited {
	color: black;
}

#header {
	background: #eeeeee;
	border-bottom: 1px black solid;
	height: 42px;
	padding: 5px;
	margin-bottom: 8px;
}

#header a {
	display: inline-block;
	padding-right: 8px;
}

#header a:hover {
	text-decoration: underline;
}

#header a:active {
	color: blue;
}

#header a:visited {
	color: black;
}

#mainHeader {
	display: block;
	float: left;
	margin: 0px;
	font-weight: stronger;
}

#mainHeader h1 {
	padding: 5px;
	margin: 0;
}

#menuBar {
	float: left;
	padding: 22px 3px 0 30px;
}

#userPanel {
	margin-top: 3px;
	float: right;
	height: 100%;
}

.clear {
	clear: both;
}

#body {
	margin: 0 15px 50px 15px;
}

#contentTitle {
	font-size: 2.5em;
	margin: 5px 0 10px 0;
	font-weight: normal;
}

footer {
	border-top: 1px black solid;
	text-align: center;
}

#tabs {
	border: none !important;
	margin: 0 -20px 0 -20px;
}

#tabs .ui-widget-header {
	border-left: none !important;
	border-top: none !important;
	border-right: none !important;
}

#deckbuilder td
{
	width: 230px;
}

#deckbuilder tbody td
{
	padding: 6px 6px 280px 6px;
	vertical-align: top;
}

#deckbuilder img
{
	margin-bottom: -250px;
}

.card
{
	height: 300px;
	/*padding:6px;*/
	min-width:50px;
	vertical-align:middle
}

.selectedCard
{
	border: 2px red solid;
	margin: -2px;
	box-shadow: 0px 0px 8px #f00;
	border-radius: 12px;
}

.linkBox {
	font-family:monospace;
	width: 400px;
}

.tutorials img {
	display: block;
}

textarea {
	width: 500px;
	height: 250px;
}